.title_wrapper{
    display: inline-flex;
    user-select: none;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.icon{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #4BE476;
    font-size: 1.3rem;
    color: #303030;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;

    &:hover{
        transform: translateY(-2px);
    }
}
.title {
    font-weight: 400;
    display: inline-block;
    background-color: #4BE476;
    color: #303030;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 30px;
    padding: 7px 30px;
    height: 40px;
}

.form {
    display: flex;
    gap: 0;
    transition: gap .2s ease;

    input {
        border-radius: 50px;
        padding: 10px 16px;
        color: rgb(200, 200, 200);
        font-weight: 300;
        outline: none;
        border: none;
        background-color: transparent;
        border: 1px solid #404040;
        transition: width .2s ease, opacity .2s ease, visibility .2s ease, margin-right .2s ease, border .2s ease;
        width: 0;
        visibility: hidden;
        margin-right: -30px;
        opacity: 0;

        &.active{
            opacity: 1;
            visibility: visible;
            width: 170px;
            margin-right: 0;
            
            &:focus{
                border: 1px solid #4BE476;
            }
        }
    }

    &:has(input.active){
        gap: 10px;
    }
}